body {
    padding: 10px;
}

.img-listing {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.img-full {
    max-width: 400px;
    max-height: 150px;
}

.card-img-top {
    height: 15vw;
    object-fit: contain;
}