{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
<h2>Active Listings</h2>

    <div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for listing in listings %}
            {% if listing.active %}

            <div class="card" style="width: 20rem;">
                <img class="card-img-top pt-3" src="{{ listing.picture }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ listing.title }}</h4>
                        <p class="card-text">{{ listing.description }}</p>

                    </div>
                    <div class="card-body">
                        <a href="{% url 'listings' listing.id %}" class="btn btn-primary pr-3">Make an Offer</a>
                        <span class="float-right pt-1">${{ listing.price }}</span>
                    </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
        

        
</div>

{% endblock %}

