{% extends "auctions/layout.html" %}


{% block title %}
    Auctions: {{listing.title}}
{% endblock %}
{% block body %}
    
    <div class="container">
        <img src="{{ listing.picture }}" class="img-full">
        <p>
            <h3>{{ listing.title }}</h3>
        </p>
        <p>
            Category:{{ listing.category }}
        </p>
        <p>
            <h4>Description</h4>
            <span>{{ listing.description }}</span>
        </p>

        <p>
            {% if user.is_authenticated %}
            <form action="{% url 'bid' %}" method="post">
                {% csrf_token %}
                    <input type="number" name="bid" id="bid_number" min="{{ listing.bid }}" value="{{ listing.bid }}">
                    <input type="hidden" name="listing_id" id="bid_button" value="{{ listing.id }}">
                    <input type="submit" class="btn btn-success" value="Bid">

                {% if listing.owner == user %}
                <div class="form-group">
                    <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Close Auction">
                        <input type="hidden" name="listing_id" id="close_button" value="{{listing.id}}">
                    </form>
                </div> 
                {% endif %}

            </form>
            <form action="{% url 'add_watchlist' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" id="listing_id" value="{{ listing.id }}">
                    {% if listing in user.watchlist.all %}
                    <input type="submit" class="btn btn-info" value="Remove from Watchlist">
                    {% else %}
                    <input type="submit" class="btn btn-info" value="Add to Watchlist">
                    {% endif %}
                </div>
            </form>
            {% endif %}
        </p>
    </div>
{% endblock %}